.u-center-text {
    text-align: center;
}

.u-margin-buttom-big {
    margin-bottom: 8rem;
}

.u-margin-buttom-medium {
    margin-bottom: 4rem;
}

.u-margin-buttom-small {
    margin-bottom: 1.5rem;
}